apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: edutechregistry.azurecr.io/edutech-backend:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
          env:
            - name: APP_NAME
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: APP_NAME

            - name: APP_PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: APP_PORT

            - name: WELCOME_MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: WELCOME_MESSAGE

